*{
    padding: 0;
    margin: 0;
}
body{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
    background: rgb(194, 190, 190);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    line-height: 60px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
button{
    width: 380px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: aqua;

}
